
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@500&family=Roboto+Mono:wght@600&family=Source+Code+Pro:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&family=Roboto+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@500&family=Quicksand:wght@300&family=Roboto+Mono:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@500&family=Montserrat&family=Roboto+Mono:wght@600&family=Source+Code+Pro:wght@400;500&display=swap');
*{
    margin: 0;
    padding: 0;
    letter-spacing: 1px;
    line-height: 25px;
}

body{
    background-color: rgb(255, 255, 255);
}

.navigation nav{
    background-color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.navigation nav ul li{
    list-style-type: none;
    display: inline-block;
    padding: 25px;
    
}
.navigation nav ul li a{
    text-decoration: none;
    font-weight:lighter;
    color: rgb(32, 32, 32) ;
    font-family: 'Roboto Mono', monospace;
    padding: 20px 20px;
    font-size: 16px;
    font-weight: 900;
}
.navigation nav ul li a:hover{
    color: rgb(248, 38, 38);
 
}
.logo{
    color: rgb(32, 32, 32) ;
    text-decoration: none;
    font-size: 22px;
    font-family: 'DM Sans', sans-serif;
} 
.logo:hover{
    color: rgb(212, 212, 212);
}

.maincontent{
    background-color: rgb(245, 245, 245);
    width: 800px; 
    margin-left: auto;
    margin-right: auto;
}

.AboutMe{
    color: white;
    display: flex;
}
.AboutMe .title{
    padding-top: 5%;
    padding-bottom: 2%;
    padding-left: 5%;
    padding-right: 5%;

    text-decoration: underline;
    letter-spacing: 1px;
    font-family: 'Montserrat', sans-serif;
    color: rgb(85, 85, 85);
}
.AboutMe .intro{
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 5%;

    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    letter-spacing: 1px;
    font-size: 15px;
    color: rgb(95, 95, 95);
}
.AboutMe .imagediv{
    margin-top: auto;
    margin-bottom: auto;

    padding-left: 5%;
    padding-bottom: 2%;
    padding-top: 2%;
}
#IntroImage{

    width: auto;
    height: 150px;

    border: 5px solid rgb(46, 46, 46);    
}